body{
    background-image: url(../assets/f1e6ba146633325.62b3a32a52f1f.jpg);
    background-size: cover;
}

footer{
    width: 100%;
    height: 200px;
    
}

nav{
    background-color: rgba(0, 0, 0, 0.589);
    height: 100px;
}

#overlay{
    height: 400px;
    width: 70%;
    background-color: rgba(174, 0, 255, 0.185);
    border-radius: 100px;
    padding-left: 60px;
    margin-left: 50px;
}


.header{
    width: 100%;
    height: 780px;
    background-size: cover;
    background-position: center;
}

.placeholder{
    color: aliceblue;
}

.form-style{
    border-radius: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.button{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: 1px solid white;

}

.button img{
    margin-bottom: 4px;
    margin-right: 0.5px;
}

.formstylish{
    margin-right: -440px;
    background-color: rgba(0, 0, 0, 0);
}

form{
    width: 50%;
    margin:  0 auto;
    margin-top: 90px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 166, 0, 0.589);
}

.left{
    width: 60%;
    float: left;
    height: 130px;
}

.right{
    height: 130px;
    width: 40%;
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
   
}

.orderCost{
    background-color: #f7f7f7;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: orange;
}

.order-item{
    width: 100%;
    height: 50px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-top: 15px;
}



input{
    margin-top: 15px;
}

select{
    margin-top: 15px;
}

.btn{
    margin-top: 15px;
}

.base-options{
    width: 33%;
    height: 100px;
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

.base-options h3{
   margin-left:  -20px;
   margin-bottom: 20px;
}

.toppings{
    width: 66%;
    margin-top: 20px;
    float: left;
    padding-left: 20px;
}

.toppings h3{
    margin-left:  -20px;
    margin-bottom: 20px;
}

.top-check{
    width: 33%;
    float: left;
}


.output{
    width: 50%;
    margin:  0 auto;
    margin-top: 50px;
}

