body{
    background-image: url(../assets/f1e6ba146633325.62b3a32a52f1f.jpg);
    background-size: cover;
}

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    height: 100px;
}

footer {
    width: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;

  }
  
  .section {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    color: orange;
  }
  
  .section h3 {
    margin-top: 0;
  }
  
  .section p {
    margin-bottom: 0;
    color: orange;
  }

  #copyright{
    margin-left: 190px;
    margin-top: -10px;
  }

  #copyright p{
    margin-top: 10px;
  }


.section img{
    margin-left: 180px;

}

.section a{
    margin-right: 5px;
    float: right;

}

.section{
    float: left;
}

.section img{
    margin-left: 10px;
    margin-left: 5px;
}

.social{
    margin-right: 110px;
}

.Logi{
    margin-left: 150px;
}



